.img-user-connecter {
    width: 65px!important;
    height: 65px!important;
    max-width: 65px!important;
    min-width: 65px!important;
    margin-right: 10px;
    border-radius: 20px;
}

.item-contact-enlign {
    box-shadow: 2px 3px 6px #96969657!important;
    border-radius: 15px;
}