.v-image.img-user {
    width: 65px;
    min-width: 65px;
    height: 65px;
    border-radius: 20px;
}

.enlign {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #429d06fa;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px #fff solid;
}