@font-face {
  font-family: "gilroy";
  src: url(../static/libs/Gilroy-Light.otf);
}

@font-face {
  font-family: "gilroy-bold";
  src: url(../static/libs/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: "Dancing Script";
  src: url(../static/libs/DancingScript-VariableFont_wght.ttf);
}

body,
html,
.v-application {
  font-family: "gilroy" !important;
}

.lb-modal {
  display: none !important;
}

.quick-chat-container p.message-username {
  display: none;
}

a.myLinkClass,
a.othersLinkClass {
  color: #e91e63;
  text-decoration: underline !important;
}

.container-message-display .myself-message-body .message-text {
  border-radius: 10px;
}

.quick-chat-container .container-message-display .message-text > p {
  margin: 0 !important;
  font-size: 14px;
  padding: 7px;
}

.font-script {
  font-family: "Dancing Script" !important;
}

.input-select-custom {
  background-color: #fff;
  font-size: 12px;
  width: 100%;
  height: 38px;
  border-radius: 5px;
  padding-right: 25px;
  border: 1px #e7e7e7 solid;
}

.nullnextpage .container-message-display .loader {
  display: none !important;
}

.loading-filter {
  max-width: calc(100% - 20px);
  left: 10px !important;
  bottom: -1px !important;
}

.float-discussion.Marge-right {
  right: 360px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-65 {
  width: 65%;
}

.limite1-lign,
.limite2-lign,
.limite3-lign,
.limite4-lign,
.limite5-lign,
.limite6-lign,
.limite7-lign,
.limite8-lign,
.limite9-lign,
.limite10-lign,
.v-select span.vs__selected {
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow-x: hidden;
}

.limite1-lign,
.v-select span.vs__selected {
  -webkit-line-clamp: 1;
}

.v-select span.vs__selected .vs__actions {
  display: none !important;
}

.limite2-lign {
  -webkit-line-clamp: 2;
}

.limite3-lign {
  -webkit-line-clamp: 3;
}

.limite4-lign {
  -webkit-line-clamp: 4;
}

.limite5-lign {
  -webkit-line-clamp: 5;
}

.limite6-lign {
  -webkit-line-clamp: 6;
}

.limite7-lign {
  -webkit-line-clamp: 7;
}

.limite8-lign {
  -webkit-line-clamp: 8;
}

.limite9-lign {
  -webkit-line-clamp: 9;
}

.limite10-lign {
  -webkit-line-clamp: 10;
}

.right-block.nuxt-right-global {
  position: relative;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

img.img.img-file-dossize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0 10px;
}

.text-white {
  color: #fff !important;
}

h1.text-secondary {
  position: relative;
}

.v-application a {
  text-decoration: none;
}

.min-w-fit-content {
  min-width: fit-content;
}

.max-w-150 {
  max-width: 135px;
}

.v-select span.vs__selected {
  max-width: calc(100% - 15px) !important;
  padding-top: 3px;
}

.input-global1.confidentiality {
  height: 29px;
  max-width: 140px;
}

.input-global1.confidentiality .v-input__slot {
  height: 27px;
  max-width: 140px;
}

h1.text-secondary:hover::before {
  content: "#";
  position: absolute;
  left: -20px;
  transition: all 0.8s;
  color: #032153;
}

.message-image-display {
  width: 145px !important;
  height: 145px !important;
  object-fit: cover;
  border-radius: 15px !important;
}
a.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--router {
  text-transform: none;
}
.font10 {
  font-size: 10px !important;
}
.font25 {
  font-size: 25px !important;
}
.w-65 button.font12.no-shadow.min-w-0 {
  min-width: 30px;
}
.v-application .ajuter-width h1.text-white {
  font-size: 23px !important;
}
p.message-username-image {
  display: none;
}

.vide-result {
  min-height: 235px;
}

.font12 {
  font-size: 12px !important;
}

.direction-column {
  flex-direction: column !important;
}

.quick-chat-container .container-message-manager .message-input {
  font-size: 12px;
}

.container-message-display .loader {
  display: flex !important;
  justify-content: center !important;
}

.font10 {
  font-size: 10px;
}

.bg-white {
  background-color: #fff !important;
}

ul.list-item-menu-global {
  margin: 0 !important;
  list-style: none;
  padding: 10px 15px;
  background-color: #fff;
}

img {
  object-fit: cover;
}

button.dark {
  background-color: #aaaaaae6 !important;
}

ul.list-item-menu-global li {
  margin: 0 !important;
}

button.v-btn {
  text-transform: initial;
  font-size: 14px;
}

.enlignProfile {
  width: 100%;
  height: 100%;
  background-color: #3f8d0c;
  border-radius: 50%;
}

.card-default {
  box-shadow: 2px 3px 6px rgb(150 150 150 / 34%) !important;
  border-radius: 15px !important;
  overflow: hidden;
}

.w-fit-content {
  width: fit-content !important;
}

.underline-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 75%;
  border: 1px #ff3354 solid;
  left: 0;
}

.underline-bottom {
  position: relative;
}

input {
  padding-left: 10px;
}

.add-pdp.recto-verso {
  width: 70px;
  height: 70px;
  border-radius: 15px;
}

.register i.v-icon.notranslate.mdi.mdi-checkbox-blank-outline {
  color: white !important;
}

.v-application p.font18 {
  font-size: 18px !important;
}

button.swal2-confirm {
  background-color: #032153 !important;
}

.add-pdp {
  width: 102px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3 33 83 / 78%);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.add-pdp input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
}

.add-pdp .v-icon {
  z-index: 20;
}

.add-pdp.recto-verso.gm {
  width: 180px;
  height: 180px;
}

.add-pdp img {
  top: 0;
  left: 0;
  z-index: 19;
}

.font-bold {
  font-family: "gilroy-bold" !important;
}

.v-avatar.profile.rounded-0 {
  border-radius: 5px !important;
  box-shadow: 2px 3px 6px #c0c0c08c;
  border: 2px #fff solid !important;
}

.align-end {
  align-items: flex-end;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.proprietaire .img-logo-cooperative {
  position: relative !important;
  bottom: auto !important;
  right: auto !important;
  top: auto !important;
}

.proprietaire .enlign {
  bottom: 5px !important;
  right: -2px !important;
}

.shaped {
  border-radius: 0 10px;
}

.min-w-fit-content {
  min-width: fit-content;
}

.bg-semi-dark {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #0000009e;
  z-index: -1;
  border-radius: 5px;
}

.w-250 {
  width: 250px !important;
}

.input-global1 {
  width: 100%;
  height: 40px;
  border-radius: 9px;
  border: 0.15px solid #c4c4c469;
  font-size: 14px;
}

button.dark {
  background-color: rgb(119 144 196) !important;
  color: #fff !important;
}

.block-filtre img {
  width: fit-content;
  height: 20px;
}

.pointer-event-none {
  pointer-events: none;
}

.add-img-pub {
  position: relative;
  width: 185px;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px #0321539c solid;
  border-style: dashed;
  border-radius: 25px;
  overflow: hidden;
}

.float-discussion {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: fit-content;
  z-index: 10;
}

.w-200 {
  width: 200px;
}

.add-img-pub.side-bar-top {
  width: 150px;
  height: 190px;
}

.bg-gris {
  background-color: #d3d3d3 !important;
}

.add-img-pub.actuality {
  width: 100%;
  height: 200px;
}

.add-pdp.recto-verso {
  width: 70px;
  height: 70px;
  border-radius: 15px;
}

.inputImg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.input-global3 {
  border: 1px #cdcdcd solid;
  height: 34px;
  border-radius: 3px;
  padding: 0 5px;
  width: 100%;
}

textarea.input-global1 {
  height: 100px;
  padding-left: 10px;
}

textarea {
  outline: none;
}

div#picture-input {
  background-color: #8795ad94;
  border-radius: 5px;
  width: fit-content;
  padding: 0 10px;
}
.block-left.left-actuality {
  min-width: 475px;
}

@media (max-width: 1903px) {
  .block-left.left-actuality {
    min-width: 380px;
  }
}
@media (max-width: 1459px) {
  .block-left.left-actuality {
    display: none !important;
  }
}
.lb-grid {
  height: 100%;
}
.color-vide {
  background-color: transparent;
  box-shadow: 2px 3px 6px #0321530d;
  color: transparent;
}

.text-align-end {
  text-align: end;
}

.any-end {
  text-align: end !important;
}

.call-back {
  position: absolute;
  top: 10px;
  left: 10px;
}
.call-back.close {
  display: none;
}
@media (max-width: 960px) {
  .flex-imgdetails {
    flex-direction: column;
  }
  .v-application .v-dialog.v-dialog--fullscreen {
    min-width: calc(100% + 3px) !important;
  }
}
@media (max-width: 960px), (max-height: 733px) and (max-width: 1259px) {
  .call-back.close {
    display: block;
  }
  .call-back {
    top: 20px;
    left: auto !important;
    right: 20px !important;
  }
}
@media (max-width: 959px) {
  .call-back {
    top: 20px;
    left: auto !important;
    right: 20px !important;
  }
}
// .v-list-item--active {
//   pointer-events: none;
// }

.messagePage {
  p.custom-title {
    color: #fff !important;
  }
  p.message-username {
    font-family: "gilroy-bold" !important;
  }
  .profile-user .img-user {
    width: 40px !important;
    height: 40px !important;
    object-fit: cover !important;
    border-radius: 10px !important;
    margin-right: 15px !important;
  }
  .message-text-box {
    display: flex !important;
  }
  .quick-chat-container {
    box-shadow: 0px 2px 12px #c9c9c9c9 !important;
  }
  .rounded-custom-chats {
    border-radius: 0 10px 10px 0 !important;
    box-shadow: 2px 3px 5px #9a9a9a70 !important;
  }
  .quick-chat-container {
    height: calc(100vh - 330px) !important;
    width: 100% !important;
  }
  .action-chate svg {
    width: 20px !important;
    height: 20px !important;
  }
  .action-chate1 {
    margin: 0 5px !important;
  }
  .action-chate1 svg {
    width: 30px !important;
    height: 30px !important;
  }
}

.close-dialogue {
  position: absolute !important;
  right: 0;
  top: 0;
}

input {
  outline: none;
}

.image-inass {
  background-color: #03215354 !important;
  border-radius: 15px;
  overflow: hidden;
}

.input-global2 .v-input__slot {
  width: 100%;
  height: 40px;
  border-radius: 8px !important;
  border: 0.15px solid #c4c4c469;
  font-size: 14px;
  box-shadow: none !important;
}

.position-absolute {
  position: absolute;
}

.opacity0 {
  opacity: 0;
}

.logo {
  width: 75px;
}

.cursor-pointor {
  cursor: pointer;
}

.enlign.format-sm {
  position: absolute !important;
  width: 7px;
  height: 7px;
  content: "";
  background-color: #3f8d0c;
  right: 12px;
  bottom: 0px;
  border-radius: 50%;
  border: 1px #fff solid;
}

.text-secondary {
  color: #ff3354;
}

.bg-secondary {
  background-color: #ff3354;
}

.text-primary {
  color: #032153;
}

.bg-primary,
.theme--light.v-footer {
  background-color: #032153 !important;
}

.text-success {
  color: #c3d830;
}

.notification-icon span.v-badge__badge {
  left: auto !important;
  right: auto !important;
  top: -3px !important;
}

.message-icon span.v-badge__badge {
  left: auto !important;
  right: -10px !important;
  top: -10px !important;
}

.message-notification {
  z-index: 10 !important;
  top: 64px !important;
  box-shadow: 0px 2px 11px rgb(74 74 74 / 30%) !important;
  padding-bottom: 40px;
}

.font14 {
  font-size: 14px;
}

.v-subheader {
  height: fit-content !important;
}

.v-input {
  font-size: 12px !important;
}

.search {
  font-size: 14px;
  border: 1px #032153 solid;
  padding: 5px;
  border-radius: 10px;
  outline: none;
}

.v-subheader {
  color: #ff3354 !important;
}

input.vs__search::placeholder {
  font-size: 12px;
}

.v-subheader::after {
  content: "";
  border-bottom: 1px #ff3354 solid;
  width: calc(100% + 15px);
  margin-left: 10px;
}

span.v-badge__badge {
  font-size: 10px !important;
  padding: 3px;
  width: 15px;
  min-width: 15px;
  height: 15px;
}

.position-relative {
  position: relative !important;
}

.border-white {
  border: 1px #fff solid;
}

.child-flex .v-image {
  border-radius: 20px;
}

.v-list-item--active {
  background-color: #0321532e;
  border-right: 2px #032153 solid;
}

button.font12,
a.font12 {
  height: 30px !important;
  border-radius: 8px;
  font-size: 12px !important;
}

.img-user .enlign {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #3f8d0c;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 1px #fff solid;
}

.v-application p {
  font-size: 14px;
  margin-bottom: 0 !important;
}

.justify-between {
  justify-content: space-between;
}

.block-left {
  width: 380px;
  min-width: 380px;
  height: 100%;
}

.block-left ::-webkit-scrollbar-track,
.right-block::-webkit-scrollbar-track,
.v-dialog::-webkit-scrollbar-track,
.scroll-customiwed::-webkit-scrollbar-track,
.list-hobbies-pz::-webkit-scrollbar-track,
.v-autocomplete__content.v-menu__content::-webkit-scrollbar-track,
.card-content::-webkit-scrollbar-track,
.centerRightDashboard::-webkit-scrollbar-track,
.list-conversation::-webkit-scrollbar-track,
.overflow-y-auto::-webkit-scrollbar-track,
.liste-calling-groups::-webkit-scrollbar-track,
.v-data-table__wrapper::-webkit-scrollbar-track,
.list-hobbiessvdfc::-webkit-scrollbar-track,
.details-img::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
.log-regidtre::-webkit-scrollbar-track,
.accueil-left .v-navigation-drawer__content::-webkit-scrollbar-track,
.v-navigation-drawer__content::-webkit-scrollbar-track,
.list-background::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
}

.bottom-8 {
  bottom: 8px;
}

.block-left::-webkit-scrollbar,
.right-block::-webkit-scrollbar,
.v-dialog::-webkit-scrollbar,
.scroll-customiwed::-webkit-scrollbar,
.list-hobbies-pz::-webkit-scrollbar,
.v-autocomplete__content.v-menu__content::-webkit-scrollbar,
.card-content::-webkit-scrollbar,
.centerRightDashboard::-webkit-scrollbar,
.list-conversation::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar,
.liste-calling-groups::-webkit-scrollbar,
.v-data-table__wrapper::-webkit-scrollbar,
.list-hobbiessvdfc::-webkit-scrollbar,
.details-img::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.log-regidtre::-webkit-scrollbar,
.accueil-left .v-navigation-drawer__content::-webkit-scrollbar,
.v-navigation-drawer__content::-webkit-scrollbar,
.list-background::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.block-left::-webkit-scrollbar-thumb,
.right-block::-webkit-scrollbar-thumb,
.v-dialog::-webkit-scrollbar-thumb,
.scroll-customiwed::-webkit-scrollbar-thumb,
.list-hobbies-pz::-webkit-scrollbar-thumb,
.v-autocomplete__content.v-menu__content::-webkit-scrollbar-thumb,
.card-content::-webkit-scrollbar-thumb,
.centerRightDashboard::-webkit-scrollbar-thumb,
.list-conversation::-webkit-scrollbar-thumb,
.overflow-y-auto::-webkit-scrollbar-thumb,
.liste-calling-groups::-webkit-scrollbar-thumb,
.v-data-table__wrapper::-webkit-scrollbar-thumb,
.list-hobbiessvdfc::-webkit-scrollbar-thumb,
.details-img::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.log-regidtre::-webkit-scrollbar-thumb,
.accueil-left .v-navigation-drawer__content::-webkit-scrollbar-thumb,
.v-navigation-drawer__content::-webkit-scrollbar-thumb,
.list-background::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, transparent),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentcolor;
  opacity: 0.5;
}

.placeholder.btn::before {
  display: inline-block;
  content: "";
}

.placeholder-xs {
  min-height: 0.6em;
}

.placeholder-sm {
  min-height: 0.8em;
}

.placeholder-lg {
  min-height: 1.2em;
}

.placeholder-glow .placeholder {
  animation: placeholder-glow 2s ease-in-out infinite;
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
    .fade-leave-to
    /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.swal2-container.swal2-bottom.swal2-fade.swal2-shown {
  background: transparent !important;
}

.placeholder-wave {
  -webkit-mask-image: linear-gradient(
    130deg,
    #000 55%,
    rgba(0, 0, 0, 0.8) 75%,
    #000 95%
  );
  mask-image: linear-gradient(
    130deg,
    #000 55%,
    rgba(0, 0, 0, 0.8) 75%,
    #000 95%
  );
  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;
  animation: placeholder-wave 2s linear infinite;
  background-color: #d7d7d7 !important;
}

.theme--light.v-card.placeholder-wave,
.theme--light.v-sheet.placeholder-wave,
.theme--light.v-text-field--solo
  > .v-input__control
  > .v-input__slot.placeholder-wave,
.theme--light.v-data-table.placeholder-wave,
.theme--light.v-expansion-panels .v-expansion-panel.placeholder-wave {
  background-color: #d7d7d7 !important;
}

.vue__time-picker-dropdown ul li:not([disabled]).active,
.vue__time-picker-dropdown ul li:not([disabled]).active:focus,
.vue__time-picker-dropdown ul li:not([disabled]).active:hover,
.vue__time-picker .dropdown ul li:not([disabled]).active,
.vue__time-picker .dropdown ul li:not([disabled]).active:focus,
.vue__time-picker .dropdown ul li:not([disabled]).active:hover {
  background: #032153 !important;
}

@keyframes placeholder-wave {
  100% {
    -webkit-mask-position: -200% 0%;
    mask-position: -200% 0%;
  }
}

.right-block {
  width: 100%;
}

.block-left,
.right-block {
  padding: 10px 20px;
}

.bg-culd {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 15px !important;
}

.h-100 {
  height: 100%;
}

.no-shadow {
  box-shadow: none !important;
}

.min-w-0 {
  min-width: 0 !important;
}

button {
  border-radius: 8px !important;
}

.details-place .color-place-libre,
.details-place .color-chaffeur {
  background-color: #fff;
}

.details-place .color-chaffeur {
  color: #898989;
}

.details-place .color-place-libre {
  color: #ff3354;
}

.details-place .color-reserver {
  background-color: #707070;
  color: #fff;
}

.details-place .color-vos-place {
  background-color: #c3d830;
  color: #fff;
}

.details-place .color-encours-reservation {
  background-color: #ff3354;
  color: #fff;
}

.w-50-5 {
  width: calc(50% - 5px);
}

.details-place .w-50.item-flex .v-col {
  display: flex;
  justify-content: center;
}

.details-place .w-50.item-flex .v-col .color {
  margin: 0 !important;
}

.details-place .color {
  width: 30px;
  height: 25px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 11px;
  min-width: 30px;
}

@media (max-width: 360px) {
  .details-place .color {
    width: 25px;
    height: 20px;
    font-size: 9px;
    min-width: 25px;
  }
}

.v-input--selection-controls__input .v-icon {
  font-size: 15px !important;
}

.color {
  box-shadow: 2px 3px 6px #03215329;
  cursor: pointer;
}

.h75 {
  height: 75px;
}

.maxw-75 {
  width: 75px;
}

.v-application .top-fixed-parametra.rounded {
  border-radius: 0 0 10px 10px !important;
}

.enlign.deconnecte {
  background-color: #ccc !important;
}

ul.vs__dropdown-menu li {
  font-size: 12px !important;
}

.v-select span.vs__selected {
  font-size: 12px;
  padding-top: 5px;
}

// animation
.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: transparent;
  // background: -webkit-linear-gradient(to left, #f995a6, #ff3354);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}
.pasfixt {
  background: white;
}
main.v-main {
  z-index: 1;
}
.badge-act span.v-badge__badge {
  width: fit-content !important;
}
.top-fixed-parametra {
  top: 64px !important;
}

.v-menu__content ul.list-item-menu {
  padding: 5px 15px !important;
}

ul.list-item-menu {
  margin: 0 !important;
  list-style: none;
}

.top-fixed-parametra {
  background-color: #ff3354;
}

.widthplusdesconnect {
  margin-left: -15px;
  width: calc(100% + 30px);
}

.block-filtre {
  top: -33px;
  position: sticky;
  z-index: 2;
  border: 1px rgba(3, 33, 83, 0.23137) solid;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.list-vehicul.max-w-100 {
  display: flex !important;
}

.not-see {
  background-color: #0000000a;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #ff33555c;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.block-filtre .active i {
  color: #fff !important;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.col-2-4 {
  flex: 20% !important;
  max-width: 20% !important;
}
.groups-slide {
  width: calc(100% + 24px);
  margin: 0 -12.5px;
  background-color: #0000000a;
  padding: 10px;
}
.line-h {
  line-height: 16px;
}
.trois-point-coms {
  position: absolute !important;
  right: -20px;
  top: 0;
}
.badge-enlignProfile .v-avatar img.img-user {
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 10px !important;
}
button.arrow {
  position: absolute;
  max-width: 35px;
  width: 35px;
  height: 35px;
  top: calc(50% - 25px);
  z-index: 20;
  transition: all 0.8s;
  display: none;
}
.font-normal {
  font-family: "gilroy";
}
.bg-comments .add-img-coments {
  width: 52px;
  height: 52px;
  min-width: 52px;
}
.card-groupe.v-card {
  box-shadow: 2px 3px 6px rgb(150 150 150 / 34%) !important;
}
.bg-comments .img-comments.col {
  width: 60px !important;
  max-width: 60px !important;
  height: 60px !important;
}
.groups-slide-liste:hover .arrow {
  display: block;
}
button.arrow-left {
  left: -10px;
}
button.arrow-right {
  right: -10px;
}
.bg-comments .emoji-vue-wraper {
  width: calc(100% - 75px);
}
.groups-slide .slick-slide p.limite2-lign.line-h {
  -webkit-line-clamp: 1;
}
.item-pub-details-bg .bg-comments .card-content-details-pub.form-send-comments {
  background: transparent !important;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.font50 {
  font-size: 40px;
}
.send-details .sticky-details {
  position: sticky;
  bottom: 0;
}
.button-front-flex .v-btn__content {
  flex-direction: column !important;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.auto-scroll {
  overflow-y: auto;
}
.load-pub {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.sticky-top.titre-pub-details {
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  display: block;
  z-index: 100;
  background-color: #fff;
  margin-top: -10px;
  width: calc(100% + 30px);
  margin-left: -15px;
  border-bottom: 1px #0000000d solid;
}
.send-details .list-img-upload.ma-0 {
  background-color: #fff;
  margin-bottom: 15px !important;
  padding-top: 0px !important;
  border-top: 1px #ececec solid;
}
.text-underline {
  text-decoration: underline;
}
.no-pub {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-comments.col {
  width: 100px !important;
  max-width: 100px !important;
  height: 100px;
}
.send-sous-comment .list-img-upload.row.pb-1.ma-0 {
  margin-bottom: -30px !important;
  border-color: transparent;
}
@media (max-width: 1100px) {
  .sticky-top.titre-pub-details {
    width: calc(100% + 20px) !important;
    margin-left: -10px !important;
  }
  .send-details .card-content-details-pub.form-send-comments {
    width: calc(100% + 20px) !important;
    margin-left: -10px !important;
    margin-bottom: -10px !important;
  }
  .back-to-top {
    bottom: 10px !important;
    margin-left: 10px !important;
  }
}
.pub-img {
  border-radius: 5px;
}
.emoji-vue-wraper {
  width: calc(100% - 125px);
}
.item-pub-details-bg {
  background-color: #fff;
  padding: 0 15px;
  position: relative;
}
.item-pub-details-bg .card-content-details-pub.form-send-comments {
  background: #fff;
  z-index: 200;
}
.send-details .card-content-details-pub.form-send-comments {
  border-radius: 0 !important;
  padding-top: 10px !important;
  border-top: 1px #ececec solid !important;
}
.send-details {
  position: sticky;
  bottom: 0;
  z-index: 20;
}
@media (max-width: 500px) {
  .emoji-vue-wraper {
    width: 100%;
  }
  .card-content-details-perso
    .left-details-perso
    .name-perso
    p
    span.color-no.limite1-lign {
    -webkit-line-clamp: 2;
  }
}
.emoji-wysiwyg-editor.emoji-vue-textarea {
  width: 100% !important;
  border-radius: 5px;
}
// .emoji-menu {
//   top: -270px !important;
//   left: -6px!important;
// }
.v-dialog.item-pub {
  min-width: calc(100% + 5px) !important;
}
.v-application .list-img-upload.ma-0 {
  padding-top: 15px;
  margin-top: -20px !important;
  border-left: 1px #ececec solid;
  border-right: 1px #ececec solid;
}
.send-details .card-content-details-pub.form-send-comments {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-bottom: -25px;
}
.v-dialog.item-pub {
  background-color: transparent !important;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}
@media (min-width: 1264px) {
  .v-dialog.item-pub {
    padding-left: 55px;
  }
}
.emoji-picker-container {
  width: 100% !important;
}
.send-sous-comment .card-content-details-pub.form-send-comments {
  padding: 0 !important;
  border: none !important;
  margin-top: 35px !important;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.MoveUpDown {
  animation: MoveUpDown 1s linear infinite;
}
.card-content-details-perso {
  border-left: 1px #ececec solid;
  border-right: 1px #ececec solid;
}
.importation.card {
  padding: 15px;
  margin: 15px 0 0 0;
  border: 1px #ececec solid;
  border-radius: 5px;
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.vgs__gallery__title {
  display: none;
}
.vgs__container {
  background: linear-gradient(0deg, #000000ad, #ff33544d);
}
@media (min-width: 1264px) {
  .vgs {
    padding-top: 64px;
    padding-left: 55px;
    width: calc(100% - 55px) !important;
    left: 55px !important;
    height: calc(100vh - 64px) !important;
    min-height: calc(100vh - 64px) !important;
    top: 64px !important;
  }
}
@media (max-width: 1263px) {
  .vgs {
    padding-top: 110px;
  }
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.home-enter-active,
.home-leave-active {
  transition: opacity 0.5s;
}

.home-enter,
.home-leave-active {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}

.conversationNOw .v-expansion-panel-content__wrap {
  padding-bottom: 5px !important;
  padding-left: 0;
  padding-right: 0;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

@media (max-width: 1263px) {
  main.v-main {
    padding-top: 90px !important;
  }
  .right-block.nuxt-right-global {
    height: calc(100vh - 90px);
    padding-bottom: 40px !important;
  }
  .top-fixed-parametra {
    top: 54px !important;
  }
}

@media (max-width: 1100px) {
  .block-left,
  .right-block {
    padding: 5px 10px;
  }
  .block-left {
    width: fit-content;
    min-width: fit-content;
    position: absolute;
    top: 0;
    left: 10px;
    height: fit-content !important;
    z-index: 20 !important;
  }
  aside.accueil-left {
    max-width: 335px;
    background-color: rgb(3 33 83 / 87%) !important;
    padding: 0 10px;
    padding-top: 90px !important;
  }
  aside.accueil-left .marge-auto {
    margin-top: 15px;
  }
  .marg-bott {
    margin-bottom: 85px !important;
  }
  .img-user {
    width: 100px;
    height: 100px;
    position: relative;
  }
  h4 {
    font-size: 14px;
  }
  .messagePage .quick-chat-container {
    height: calc(100vh - 250px) !important;
    width: 100% !important;
  }
}
.card-content-details-pub {
  padding: 20px 30px;
  border: 1px #ececec solid;
  margin-top: 20px;
  border-radius: 0 0 35px 0;
  @media (max-width: 500px) {
    border-radius: 0 0 20px 0;
  }
  .flex-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .details-text {
    font-size: 14px;
    color: #000;
  }
  .text-right .v-icon.v-icon {
    font-size: 40px !important;
  }
}

.lb-more {
  font-size: 25px !important;
}

.list-hobbie-left {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 30px;
}

.list-publication {
  .item-publication {
    .card-header {
      .list-hobbie-left {
        @media (max-width: 667px) {
          left: 10px;
          width: 100%;
          flex-direction: row;
          justify-content: flex-start;
          top: 10px;
        }
      }
    }
    .section-button-event {
      button.date-events {
        @media (max-width: 1600px) {
          width: 115.75px;
          height: 75.03px !important;
          font-size: 14px !important;
        }
        @media (max-width: 390px) {
          font-size: 10px !important;
          width: 65px !important;
          height: 50px !important;
        }
      }
      .flex-bouton-bottom {
        @media (max-width: 1600px) {
          width: 45%;
        }
        @media (max-width: 667px) {
          width: calc(100% - 125px);
        }
        @media (max-width: 390px) {
          width: calc(100% - 97px);
        }
      }
    }
    .card-content-details-perso {
      .left-details-perso {
        .name-perso {
          h6 {
            @media (max-width: 500px) {
              display: block;
              span.color-no {
                max-width: 100% !important;
              }
              .infoUserResponsive {
                display: inline-block !important;
              }
            }
          }
        }
        @media (max-width: 500px) {
          p.details-localisation {
            display: none !important;
          }
        }
      }
      .right-reaction-publication {
        display: flex;
        .reaction {
          @media (max-width: 1600px) {
            width: 45px;
            height: 45px;
          }
          @media (max-width: 428px) {
            margin: 0 8px 0px -2px;
          }
        }
      }
    }
    .border-itambaranr {
      .card-content-details-pub {
        @media (max-width: 500px) {
          border-radius: 0 0 20px 0;
        }
      }
      .card-content-details-comments {
        @media (max-width: 500px) {
          border-radius: 0 0 0 20px;
        }
        .list-comments {
          .item-comments {
            .details-coments-gl {
              .top-details-cons {
                @media (max-width: 500px) {
                  margin-bottom: 5px;
                  flex-direction: column;
                  align-items: flex-start;
                }
                h6.limite1-lign {
                  max-width: calc(100% - 115px);
                  @media (max-width: 500px) {
                    max-width: 100%;
                  }
                }
              }
            }
          }
          .list-comments img.img-comment {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .card-content-details-pub.form-send-comments {
      @media (max-width: 500px) {
        border-radius: 0 0 20px 0;
      }
      .img-user-comment {
        @media (max-width: 500px) {
          display: none;
        }
      }
      .send-input {
        @media (max-width: 500px) {
          width: calc(100% - 35px);
        }
        .emojii {
          color: #ffd501 !important;
        }
      }
    }
  }
}
button.details-click {
  position: absolute;
  height: 100% !important;
  top: 0;
  left: 0;
  border-radius: 0 !important;
  z-index: 1;
}
.h-100vh {
  height: 100vh !important;
}
.carousel-img-pub {
  .v-window-item {
    height: fit-content !important;
  }
  .v-window__container {
    justify-content: center;
    background: #000;
  }
  .v-image.v-responsive.v-carousel__item .v-image__image--cover {
    background-size: contain;
  }
}
.v-application .details-comments.petite {
  .card-content-details-pub {
    border-radius: 0 !important;
    margin-bottom: -1px;
    margin-top: 0;
    padding: 10px !important;
  }
  .card-content-details-perso {
    margin: 0 !important;
    margin-bottom: 10px !important;
    margin-top: 0 !important;
    padding: 10px !important;
    border: 1px #ececec solid;
  }
  .left-details-perso .img-user {
    width: 45px !important;
    height: 45px !important;
    min-width: 45px !important;
    border-radius: 10px;
  }
  .my-3.sticky-details {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    .card-content-details-pub.form-send-comments {
      margin: 0 !important;
      width: 100% !important;
    }
  }
  .card-content-details-pub.form-send-comments {
    background-color: #f5f5f5;
  }
  .name-perso {
    p.details-localisation {
      display: none !important;
    }
    .min-w-fit-content span.text-secondary.d-flex.align-center {
      display: none !important;
    }
  }
  .card-content-details-perso .right-reaction-publication {
    margin-top: 0;
    .mx-4 {
      margin-right: 6px !important;
      margin-left: 15px !important;
    }
  }
  .card-content-details-perso {
    .left-details-perso {
      .name-perso {
        h6 {
          display: block;
          span.color-no {
            max-width: 100% !important;
          }
          .infoUserResponsive {
            display: inline-block !important;
          }
        }
      }
      p.details-localisation {
        display: none !important;
      }
    }
    .right-reaction-publication {
      .reaction {
        width: 45px;
        height: 45px;
      }
      margin: 0 8px 0px -2px;
    }
  }
  .border-itambaranr {
    .card-content-details-pub {
      border-radius: 0 0 20px 0;
    }
    .card-content-details-comments {
      border-radius: 0 0 0 20px;
      .list-comments {
        .item-comments {
          .details-coments-gl {
            .top-details-cons {
              margin-bottom: 5px !important;
              flex-direction: column !important;
              align-items: flex-start !important;
              h6.limite1-lign {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.petite {
  .lb,
  .imgSujet,
  .lb-grid {
    height: 210px !important;
    overflow: hidden;
  }
  .card-content-details-perso {
    padding: 0 10px !important;
  }
  .reaction {
    width: 35px !important;
    height: 35px !important;
    i {
      font-size: 20px !important;
    }
    .count-react {
      width: 20px !important;
      height: 20px !important;
      font-size: 10px !important;
    }
  }
  .card-header {
    padding: 0 !important;
  }
  .left-details-perso {
    width: calc(100% - 150px) !important;
    .img-user {
      width: 60px !important;
      height: 60px !important;
      min-width: 60px !important;
    }
    span {
      font-size: 11px;
    }
    @media (max-width: 428px) {
      width: calc(100% - 120px) !important;
    }
  }
  .name-perso h6 span.color-no {
    max-width: calc(100% - 100px) !important;
  }
  .card-content-details-pub {
    padding: 10px 15px !important;
  }
  .card-content-details-comments {
    padding: 15px !important;
  }
  img.img-comment {
    width: 35px !important;
    height: 35px !important;
  }
  .details-coments-gl {
    width: calc(100% - 45px) !important;
  }
  .imgSujet {
    padding: 20px 20px 20px 20px !important;
    .bg-questionnaire {
      padding-right: 0;
    }
  }
}
.swal2-popup.swal2-toast.swal2-show {
  overflow-x: hidden;
}
@media (min-width: 961px) {
  .v-tabs.menu-respo .v-tab {
    min-width: 70px;
  }
}
.v-tabs.menu-respo .v-item-group {
  width: 100% !important;
}
.v-tabs.menu-respo {
  background: #fff;
  height: 36px;
  margin-bottom: -5px;
}

.v-tabs.menu-respo .v-tabs-slider-wrapper {
  display: none;
}

.v-tabs.menu-respo .v-tab.v-tab--active {
  border-bottom: 2px #ff3354 solid;
}

.v-tabs.menu-respo .v-slide-group__wrapper {
  height: 36px;
}

.v-tabs.menu-respo .v-tab {
  height: 36px;
}

.max-w-100 {
  max-width: 100%;
  display: block !important;
}

@media (max-width: 600px) {
  .block-filtre {
    top: 0;
    position: relative;
  }
  .name-perso p.font-bold .text-secondary {
    display: none !important;
  }
  .card-content-details-perso .left-details-perso .name-perso p span.color-no {
    max-width: 100% !important;
  }

  .block-filtre {
    top: -16px;
    // margin-bottom: 10px!important;
  }
  .filter-top-zero .block-filtre {
    top: 0;
  }
  .v-application .mt-4.block-res1 {
    margin-top: 0 !important;
  }
  .messagePage .quick-chat-container {
    height: calc(100vh - 205px) !important;
    width: 100% !important;
  }
}
.list-publication {
  border-top: 1px #ececec solid;
}
@media (max-width: 500px) {
  .v-application
    .v-image.v-responsive.couverture
    .v-image__image.v-image__image--cover {
    filter: blur(7px);
  }

  .card-header .lb,
  .card-header .lb-grid {
    width: 100% !important;
    height: 280px !important;
  }
  .form-input-send .v-input.input-globale .v-input__slot {
    border: 1px #032153 solid !important;
  }
  .card-content-details-perso .left-details-perso .img-user {
    width: 55px !important;
    height: 55px !important;
    min-width: 55px !important;
  }
  .v-application
    .v-image.v-responsive.couverture
    .v-responsive__content
    .v-image__image.v-image__image--cover {
    filter: blur(0);
  }
  .v-application .block-left.pt-8,
  .v-application .right-block.pt-8 {
    padding: 15px 0 !important;
  }
  .swal2-container.swal2-bottom.swal2-fade.swal2-shown {
    width: 100%;
  }
  .swal2-popup.swal2-toast.swal2-show {
    width: 100%;
    overflow-x: hidden;
  }
  .swal2-popup.swal2-toast.swal2-show {
    flex-direction: column;
  }
  .swal2-popup.swal2-toast.swal2-show .swal2-actions {
    margin-top: 10px !important;
    width: 100%;
    justify-content: flex-end !important;
  }
  h1.text-white {
    font-size: 20px;
  }
  // .v-application .right-block.nuxt-right-global {
  //     padding-bottom: 40px!important;
  // }
  .container {
    padding-left: 5px !important;
    padding-right: 2px !important;
  }
  .v-dialog {
    height: fit-content;
    margin: auto 0 0 !important;
    padding: 15px;
    box-shadow: none !important;
    border-radius: 0 !important;
    max-height: 100vh !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .v-application p {
    font-size: 12px;
  }
  .messagePage .quick-chat-container {
    height: calc(100vh - 155px) !important;
  }
}

a.h-fit-content.font12 {
  height: fit-content !important;
}

@media (max-width: 428px) {
  .float-discussion {
    bottom: 0px;
    right: 0px;
  }
  .item-pub-details-bg .card-content-details-pub.form-send-comments {
    padding: 5px;
    padding-top: 5px !important;
  }
  .item-scrol .item-demande-amis {
    margin-bottom: 14px !important;
  }
  .bg-comments .sticky-details {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 22;
    border-top: 1px #0000002b solid;
    padding: 5px;
  }
  .bg-comments .sticky-details .card-content-details-pub.form-send-comments {
    border: none;
    width: 100%;
  }
}
