img.img-user-sm {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px #fff solid;
}

img.icons-header.notification {
    margin-left: -3px;
    width: 28px;
}

.menu {
    width: 25px;
}

.v-toolbar__content {
    padding-right: 25px!important;
}

img.icon-menu {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

@media (max-width: 1263px) {
    .message-notification {
        top: 55px !important;
    }
}

@media (max-width: 960px) {
    .v-tabs.menu-respo .v-tab {
        min-width: 0;
    }
}

@media (max-width: 460px) {
    .v-toolbar__title p.text-white.font12.font-bold {
        display: none;
    }
    .logo {
        width: 55px;
    }
}